button {
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    margin: .5rem 1rem;
}

button:hover {
   background-color: rgba(198, 198, 198, 0.78);
}

button.current {
    box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}
